<%-include('../partials/adminheader')-%>

<div class="main-wrap">
  <h1 class="text-center">Coupons</h1>
  <div class="row">
    <div class="col-md-3">
      <form action="/admin/add-coupon" method="POST">
        <div class="form-group">
          <label for="coupon-title">Coupon title</label>
          <input
            type="text"
            class="form-control"
            id="coupon-title"
            placeholder="Enter coupon title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="discount-amount">Discount Amount</label>
          <input
            type="number"
            class="form-control"
            id="coupon-discount"
            placeholder="Discount Amount "
            name="discount"
          />
        </div>
        <div class="form-group">
          <label for="coupon-code">Coupon code</label>
          <input
            type="text"
            class="form-control"
            id="coupon-code"
            placeholder="Enter coupon code"
            name="coupencode"
          />
        </div>
        <div class="form-group">
          <label for="coupon-expiry">Coupon expiry date</label>
          <input
            type="date"
            class="form-control"
            id="coupon-expiry"
            name="expirydate"
          />
        </div>
        <button type="submit" class="btn btn-primary">Add coupon</button>
      </form>
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <% coupen.forEach(function(coupen,index) { %>
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card coupon-card">
              <div class="card-header coupon-header bg-dark">
                <h5 class="mb-0" style="color: aquamarine;"><%=coupen.coupentitle%></h5>
              </div>
              <div
                class="card-body"
                style="background-color: rgb(177, 190, 190)"
              >
              <p class="card-text coupon-description">
                Code:  <%=coupen.coupencode%> 
              </p>
                <p class="card-text coupon-description">
                  Flat <%=coupen.discount%> Rupees Discount
                </p>
                <small class="coupon-validity"
                  >Expiry Date:<%=coupen.expirydate%></small
                ><br>
                <div class="d-flex justify-content-between">
                  <button  style="width: 75px;" class="btn btn-sm btn-info" onclick="editcoupen('<%= coupen._id %>')">Edit</button>
                  <button  style="width: 75px;" class="btn btn-sm btn-danger"  onclick="confirmremoveItem('<%= coupen._id %>')">Delete</button>
                </div>
                
              </div>
            </div>
          </div>
          <% })%>
        </div>
      </div>
    </div>
  </div>
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

<script>
  function editcoupen(coupenId) {
      window.location.href = `/admin/edit-coupen/${coupenId}`;
}

function confirmremoveItem(coupenId) {
  new swal({
    title: 'Do you want to proceed?',
    icon: 'warning',
    showCancelButton: true,
    showConfirmButton: true,
    confirmButtonText: 'Yes'
  }).then((result) => {
    if (result.isConfirmed) {
      // Redirect to the delete route after user confirms the action
      window.location.href = `/admin/delete-coupen/${coupenId}`;
    } else if (result.dismiss === swal.DismissReason.cancel) {
      new swal("Coupon not Removed", "", "info");
    }
  });
}
</script>