<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href=".../../adminassets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link
      href=".../../adminassets/css/main.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <%-include('../partials/adminheader')-%>
    <div class="screen-overlay"></div>
    <main class="main-wrap">
      <section class="content-main">
        <div class="content-header">
          <div>
           
            <h2 class="content-title card-title">Categories</h2>
            <p>Add, edit or delete a category</p>
          </div>
          <div>
            <input
              type="text"
              placeholder="Search Categories"
              class="form-control bg-white"
            />
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
               
               

                <form action="/admin/edit-category/<%=category._id%>" method="POST">
                  <div class="mb-3">
                    <label for="category_name" class="form-label"
                      >Category Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="category_name"
                      name="categoryname"
                      placeholder="Enter category name"
                      value="<%=category.Categoryname%>"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="category_description" class="form-label"
                      >Description</label
                    >
                    <textarea
                      class="form-control"
                      id="category_description"
                      name="categorydescription"
                      rows="3"
                      placeholder="Enter description"
                      aria-valuetext="<%=category.Description%>"
                    ></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="category_discount" class="form-label">Discount</label>
                    <input
                      type="text"
                      class="form-control"
                      id="category_discount"
                      name="categorydiscount"
                      placeholder="discount Rate"
                      value="<%=category.offer%>"
                    />
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-primary" type="submit">
                      Edit Category 
                    </button>
                  </div>
                </form>
              </div>
              
             
            </div>
           
          </div>
         
        </div>
    
      </section>
      <!-- content-main end// -->
      <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
          <div class="col-sm-6">
            <script>
              document.write(new Date().getFullYear());
            </script>
            ©, Evara - HTML Ecommerce Template .
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
          </div>
        </div>
      </footer>
    </main>
  </body>

  <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>
